.scr-toolbar {
    padding: 7px;
    background-color: #1c1c2a;
}

.scr-toolbar button {
    font-size: 11pt;
}

.scr-toolbar .selector-area,
.scr-toolbar .input-area {
    color: white;
    display: inline-block;
}

.scr-toolbar .selector-area span {
    margin: 0px 5px;
}

.scr-toolbar .selector-area .change-btn {
    padding: 2px 1px;
    border-right: 1px solid #505070;
    border-top: 1px solid #505070;
    border-bottom: 1px solid #505070;
    border-radius: 0px 5px 5px 0px;
    background-color: #505070;
    color: #1c1c2a;
    box-sizing: border-box;
}

.scr-toolbar .selector-area .change-btn.left {
    border-radius: 5px 0px 0px 5px;
    border-left: 1px solid #505070;
    border-right: 0px;
}

.scr-toolbar .selector-area .splitter {
    margin: 0px;
    width: 1px;
    display: inline-block;
    box-sizing: border-box;
}

.scr-toolbar .selector-area .splitter.changed {
    border-right: 1px solid #505070;
    display: inline;
}

.scr-toolbar input {
    width: 120px;
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    transition: all ease-in 0.1s;
}

.scr-toolbar input:focus,
.scr-toolbar input:hover,
.scr-toolbar input.changed {
    background-color: #505070;
    color: white;
}

.scr-toolbar .enter-button {
    padding: 5px 10px;
    background-color: #505070;
    color: white;
}

.scr-toolbar input,
.scr-toolbar .enter-button:disabled,
.scr-toolbar .selector-area .change-btn:disabled {
    background-color: #1c1c2a;
    color: #505070;
}

.scr-toolbar input,
.scr-toolbar .enter-button:disabled {
    border: 1px solid #505070;
}

.scr-toolbar .selector-area .change-btn:hover:enabled,
.scr-toolbar .enter-button:hover:enabled {
    background-color: #8a8aac;
    color: white;
}
