body {
    margin: 0px;
}

#root {
    height: 100vh;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout .layout-dock {
    flex-grow: 1;
    /* Workaround for restoring from maximized leaving the dockview at maximized height.
       See https://github.com/mathuo/dockview/issues/158#issuecomment-1260007967 for more info */
    overflow: hidden;
}

.groupview.active-group > .tabs-and-actions-container {
    border-bottom: 2px solid #009de6;
}
.groupview.inactive-group > .tabs-and-actions-container {
    border-bottom: 2px solid #000c18;
}
