body {
    margin: 0px;
}

#root {
    height: 100vh;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1c1c2a;
    font-size: 11pt;
    font-family: sans-serif;
}

.layout .layout-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.layout .layout-bar .settings {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.layout .layout-bar .layout-interactive {
    background-color: #1c1c2a;
    color: #505070;
    border-radius: 5px;
    border: 1px solid #505070;
    padding: 3px;
    margin: 4px;
    flex-shrink: 0;
    display: inline-block;
}

.layout .layout-bar .layout-interactive:hover,
.layout .layout-bar .layout-interactive:hover .embedded-input {
    background-color: #505070;
    color: white;
}

.layout .layout-bar .layout-interactive .embedded-input {
    margin: 0px;
    height: 10px;
    width: 4ch;
    border: 0px solid;
    outline: 0px solid;
    font-size: 11pt;
    font-family: sans-serif;
    text-align: right;
}

.layout .layout-bar .layout-interactive .tab-type-select {
    margin: 0px 3px;
    padding: 1px;
    height: auto;
    width: 10.25ch;
    text-align: center;
}

.layout .layout-bar .layout-interactive .tab-type-select:hover,
.layout .layout-bar .layout-interactive .tab-type-select:focus {
    outline: 1px solid white;
}

.layout .layout-bar .add-tab {
    padding: 5px 10px;
}

.layout .layout-dock {
    flex-grow: 1;
    /* Workaround for restoring from maximized leaving the dockview at maximized height.
       See https://github.com/mathuo/dockview/issues/158#issuecomment-1260007967 for more info */
    overflow: hidden;
}

.groupview.active-group > .tabs-and-actions-container {
    border-bottom: 2px solid #009de6;
}
.groupview.inactive-group > .tabs-and-actions-container {
    border-bottom: 2px solid #000c18;
}
