/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.erb-wrapper {
    position: relative;
    color: white;
    height: 100%;
    background: linear-gradient(
        200.96deg,
        #fedc2a -29.09%,
        #dd5789 51.77%,
        #7a2c9e 129.35%
    );
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.erb-wrapper button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
        0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    opacity: 0.9;
}

.erb-wrapper button:enabled {
    cursor: pointer;
}

.erb-wrapper button:hover:enabled {
    transform: scale(1.05);
    opacity: 1;
}

.erb-wrapper .images,
.erb-wrapper .icon-frame {
    position: relative;
}

.erb-wrapper .pt-logo {
    position: absolute;
    top: 50px;
    left: 55px;
}

/** Credit to Andreas Wik for spin https://awik.io/rotate-element-indefinitely-css-animation/ */
.erb-wrapper .spin {
    animation: spin 25s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.erb-wrapper .pulse {
    animation: pulse 3s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.erb-wrapper li {
    list-style: none;
}

.erb-wrapper a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

.erb-wrapper a:hover {
    opacity: 1;
    text-decoration: none;
}

.erb-wrapper .Hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.erb-wrapper .erb-title {
    width: 95%;
}
